@charset "utf-8";
@import url(font.css);

body {
    width: 375px;
    height: 910px;
    margin: 0 auto;
    border: 1px solid #000;
    background: #fff;
}

header .header_inner {
    display: flex;
    height: 59px;
    justify-content: space-between;
    border-bottom: 1px solid #8296C5;
    position: relative;
}
.mg {
    line-height: 59px;
}
header .left img {
    padding-left: 15px;
}
header .center img {
    position: absolute;
    top: 0; left: 30%;
}
header .right {
    padding-right: 5px;
}
header .right img {
    padding: 0 4px ;
}

/* //header */

main {
    margin: 150px 10px;
}
main .top p {
    margin-left: 150px;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px;
}
main .mid {
    margin: 0 10px;
    color: #000;
}
main .mid form .id{
    width: 332px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background: rgb(99, 124, 183,0.1);
    margin-bottom: 10px;
    box-sizing: border-box;
}
main .mid form .check {
    margin-bottom: 50px;
}
main .mid a {
    display: block;
    width: 310px;
    height: 48px;
    padding: 0 10px;
    border-radius: 5px;
    background: rgb(99, 124, 183,0.8);
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
main .btn {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    color: #000;
}
